database/
day4/exam02_static_http_server/node_modules
day4/exam02_static_http_server/package-lock.json

day4/exam04_fetch/node_modules
day4/exam04_fetch/package-lock.json

day5/02_fetch/node_modules
day5/02_fetch/package-lock.json

day5/03_axios/node_modules
day5/03_axios/package-lock.json

day5/04_lodash/node_modules
day5/04_lodash/package-lock.json

day5/05_express/node_modules
day5/05_express/package-lock.json

day6/exam01/node_modules
day6/exam01/package-lock.json

day6/exam02/node_modules
day6/exam02/package-lock.json